* {
    font-family: 'DIN Alternative', sans-serif;
}

body {
    background-color: #27FFCB;
    user-select: none;
}

h1 {
    color: black;
    font-size: 70px;
    padding-top: 0px;
    padding-left: 60px;
}

p {
    color: black;
    padding: 0px 110px;
    font-size: 20px;
    line-height: 40px;
    text-indent: 40px;
}

#navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 5;
    font-size: 30px;
    padding: 20px;
    padding-top: 5px;
}

a {
    text-decoration: none !important;
    color: black;
    margin: 15px;
}

#randButt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 250px;
    width: 550px;
    background-color: #B8FFEE;
    font-size: 80px;
    border-color: #B8FFEE;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 6px #0ec59a;
    outline: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 11;
}

footer {
    position: fixed;
    left: 50;
    width: 100%;
    text-align: center;
    font-size: 12px;
    bottom: 5px !important;
}

footer a {
    margin: 5px !important;
}

img.corey {
    height: 300px;
    width: 200px;
    float: right;
    margin: 0px 50px;
}

@media only screen and (max-width: 600px) {
    #randButt {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 125px;
        width: 280px;
        background-color: #B8FFEE;
        font-size: 40px;
        border-color: #B8FFEE;
        border-radius: 12px;
        cursor: pointer;
        box-shadow: 5px 5px 6px #0ec59a;
    }
    #navbar {
        display: flex;
        align-items: center;
        flex-direction: row;
        z-index: 5;
        font-size: 25px;
        justify-content: center;
    }
    h1 {
        color: black;
        font-size: 30px;
        padding-top: 0px;
        padding-left: 20px;
    }
    
    p {
        color: black;
        padding: 0px 40px;
        font-size: 15px;
        line-height: 30px;
    }
    img.corey {
        height: 200px;
        width: 133px;
        float: right;
        margin: 0px 30px;
    }
    .footy {
        position: relative;
    }
}


@media only screen and (max-width: 400px) and (max-height: 700px) {
    .footy {
        position: relative;
    }
}